.circle-inside {
    transform-origin: center;
    position: relative;
    animation: rotate 1.5s linear infinite;
}

.circle-outside {
    transform-origin: center;
    position: relative;
    animation: rotate 3s linear infinite;
    animation-direction: reverse;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}
